body{
	background-color: #eee;
	color:black;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

@media (min-width: 768px){
	.test1{
		visibility:visible;
	}
}

@media (max-width: 767px){
	.test1{
		display:none;
	}
}



.coltext{
	text-align: center;
}
.b1 {
-moz-border-radius :40px;
-webkit-border-radius:40px;
border-radius :40px;
}
.mainText{
	text-align:center;
	font-size:18px;

}

.outer{
	border:0px;
	border-left:10px solid #316cce;
}

.centralBlockHeader{
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	position:relative;
	height:100%;
	text-align:left;
	font-size:32px;
	padding:5px 10px 0px 10px;
	background:white;
	border : 2px solid black;
	border-left-width: 0px;
	border-radius: 0px 10px 10px 0px;
}


.dateHolder{
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	text-align: right;
	font-size:14px;
	padding-right : 15px;
}

.postDate{
	font-size: 11px;
	font-weight: bold;
  color: black;
  padding-top: 0px;
  margin-bottom: 0px ;
	margin-top: 0px;
	padding-right: 0px;
	margin-right: 0px;
	margin-left: 5px;
	text-transform: uppercase;
	letter-spacing: 0.5px;

}
.postTitle{
	margin-top: 0px;
	margin-bottom: 0px;
	font-weight: bold;
}

a.centralPostTitle:link,a.centralPostTitle:visited{
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	text-align:left;
	font-size:32px;
	font-weight:bold;
	color:inherit;
}

.centralBlockText{
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	height:100%;
	text-align:left;
	font-size:14px;
	margin: 10px 20px 10px 20px;
	padding: 10px 20px 10px 20px;
	background:white;
	border : 2px solid black;
	border-radius: 3px;
}

.centralPagination{
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	height:100%;
	width: 100%;
	text-align:center;
	font-size:14px;
	margin: 0px 0px 0px 0px;
	padding: 10px 20px 10px 20px;
	background:white;
	border : 2px solid black;
	border-radius: 3px;
}
.centerBlock {
  display: table;
  margin: auto;
}

.container{
	text-align:center;
	font-size:18px;
	margin:0px 0px 0px 0px;
}

.linkBox{
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	height:100%;
	width: 100%;
	text-align:center;
	font-size:26px;
	margin: 0px 0px 10px 0px;
	padding: 10px 0px 10px 0px;
	background:white;
	border : 0px solid black;
}

.linkBoxBlog{
	border-radius: 3px 0px 0px 3px;
	border-top-color: blue;
	border-top-width: 10px;
	border-right-width: 0px;
}

.linkBoxProjects{
	border-radius: 0px 0px 0px 0px;
	border-top-color: red;
	border-top-width: 10px;
	border-left-width: 0px;
	border-right-width: 0px;
}

.linkBoxInfo{
	border-radius: 0px 3px 3px 0px;
	border-top-color: green;
	border-top-width: 10px;
	border-left-width: 0px;
}
a.linkBoxLink:link, a.linkBoxLink:visited{
	color:black;
	text-decoration:none;
}

.noPadding{
	padding: 0 !important;
	margin: 0 !important;
}
